/* Recipes Styles */
.recipes-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .recipes-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .recipe-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px;
  }
  
  /* Recipe Card Styles */
  .recipe-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(33.33% - 20px); 
    margin-right: 20px; 
    margin-bottom: 20px;
  }
  
  .recipe-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .recipe-title {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .recipe-description {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .recipe-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .recipe-link:hover {
    background-color: #0056b3;
  }
  