html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.main-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}
